.mainBox {
    width: 100%;
    max-height: 650px;
    overflow: scroll;
    border-radius: 8px;
    padding: 20px 10px;

}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

li {
    width: 50%;
    background: #F9796D;
    padding: 40px 0;
    border-radius: 8px;
    margin-right: 30px;
    color: white;
    font-size: large;
}

.button-empezar,
.button-crear{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffddf6;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button-empezar:hover,
.button-crear:hover {
    background-color: #ffccf4;
}

.general-home{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.buttons-home-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background: #d4b2d4;
    padding: 4rem;
    border-radius: 10px;
}

.img-home1{
    width: 30%;
}

.img-home2{
    width: 30%;
}

.home-title{
    text-align: center;
margin-bottom: 3rem;
    font-size: 60px;
    font-weight: bold;
    background:#d4b2d4;


}

.brain-home{
    width: 100%;
}



.home{
    background-color: #ffddf6;
}


@media (max-width: 768px) {
   .general-home{
       flex-direction: column;
   }
    .buttons-home-cont{
        width: 100%;
    }
    .img-home1{display:none}

    .brain-home {
        width: 100%;
        margin-top: 5rem;
    }

    .img-home2 {
        width: 70%;
    }

}
