.Quimica,
.Historia,
.General,
.Arte,
.Geografia
{
    width: 500px;
    height: fit-content;
    background: lightsalmon;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.partida-pregunta p {
    font-size: larger;
}

.partida-button {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.partida-siguiente-button {
    background: #a7e9a7;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.partida-siguiente-button:hover {
    background: #88e788;
    transform: scale(1.01);
    cursor: pointer;
}

.partida-button:hover {
    background: #F9796D;
}

.pregunta-form {

 margin: 20px;
}

.pregunta-respuestas {
    list-style-type: none;
    padding: 0;
}

.opcion-respuesta {
    text-decoration: none;
    margin: 50px;
    background-color: #dedede;
    padding: 10px 12px 10px 12px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.opcion-respuesta input[type="radio"] {
    margin-right: 10px;
}

.respuesta-texto {
    font-weight: bold;
}

.Geografia {
    background-color: #ceceff;
}

.Historia{
    background-color: #ffe4ac;
}

.General {
    background-color: #f0f0f0;
}

.Quimica {
    background-color: #d3ffd3;
}

.Arte {
    background-color: #ffd0d9;
}

.opcion-respuesta:hover {
    background-color: #b9b9b9;
}

