.ranking-main {
    padding: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.ranking-table {
    width: 100%;
    border-collapse: collapse;
}

.ranking-table th,
.ranking-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.ranking-table th {
    background-color: #ffddf6;
}

.ranking-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.ranking-table tbody tr:hover {
    background-color: #e5e5e5;
}
