{{> header}}
<!-- The Band Section -->
<link rel="stylesheet" href="../public/css/preguntaCrear.css">
<div class='w3-container w3-center'
     style='display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 10px 0'
     id='band'>
    <h3 class='w3-wide'>Formulario para crear una nueva pregunta</h3>

    <form action="/pregunta/insertar" method="post" class="pregunta-form">
        <div class="input-form">
            <label for="pregunta" id="pregunta">Pregunta:</label>
            <input required name="pregunta" id="pregunta"/>
        </div>
        <div class="input-form">
            <label for="categoria" id="categoria">Categoria:</label>
            <select name="categoria" id="categoria" class="select-form">
                <option>Historia</option>
                <option>Geografia</option>
                <option>Futbol</option>
                <option>Quimica</option>
                <option>Biologia</option>
            </select>
        </div>
        <button type="submit" class="w3-button w3-red w3-round-large"
                style="align-self: end; margin-right: 30%; margin-top: 10px">Crear Pregunta
        </button>
    </form>
{{mensaje}}
</div>

<!-- End Page Content -->
</div>
{{> footer}}