{{> header}}
<!-- The Band Section -->
<link rel="stylesheet" href="../public/css/preguntaCrear.css">
<div class='w3-container w3-center'
     style='display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 10px 0'
     id='band'>
    <h3 class='w3-wide'>Formulario para crear una nueva pregunta</h3>

    <form action="#" method="post" class="pregunta-form">
        <div class="input-form">
            <label for="pregunta" id="pregunta">Pregunta:</label>
            <input name="pregunta" id="pregunta"/>
        </div>
        <div class="input-form">
            <label for="respuesta_a" id="respuesta_a">Respuesta A:</label>
            <input name="respuesta_a" id="respuesta_a"/>
        </div>
        <div class="input-form">
            <label for="respuesta_b" id="respuesta_b">Respuesta B:</label>
            <input name="respuesta_b" id="respuesta_b"/>
        </div>
        <div class="input-form">
            <label for="respuesta_c" id="respuesta_c">Respuesta C:</label>
            <input name="respuesta_c" id="respuesta_c"/>
        </div>
        <div class="input-form">
            <label for="respuesta_d" id="respuesta_d">Respuesta D:</label>
            <input name="respuesta_d" id="respuesta_d"/>
        </div>
        <div class="input-form">
            <label for="respuesta_correcta" id="respuesta_correcta">Respuesta Correcta:</label>
            <select name="respuesta_correcta" id="respuesta_correcta" class="select-form">
                <option value="respuesta_a">Respuesta A</option>
                <option value="respuesta_b">Respuesta B</option>
                <option value="respuesta_c">Respuesta C</option>
                <option value="respuesta_d">Respuesta D</option>
            </select>
        </div>
        <div class="input-form">
            <label for="categoria" id="categoria">Categoria:</label>
            <select name="categoria" id="categoria" class="select-form">
                <option>Historia</option>
                <option>Geografia</option>
                <option>Futbol</option>
                <option>Quimica</option>
                <option>Biologia</option>
            </select>
        </div>
        <button type="submit" class="button-crear-pregunta">Crear Pregunta
        </button>
    </form>

</div>

<!-- End Page Content -->
</div>
{{> footer}}