{{> header}}
<!-- The Band Section -->
<link rel="stylesheet" href="../public/css/home.css">
<div class='w3-container w3-center'
     style='display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 10px 0'
     id='band'>
    <h2 class='w3-wide'>KnowItAll</h2>
    <br>
    <br>
    <a href="/partida/empezar" class="w3-button w3-red w3-round-large">Jugar Partida</a>
    <br>
    <a href="/pregunta/crear" class="w3-button w3-red w3-round-large">Crear Pregunta</a>

</div>

<!-- End Page Content -->
</div>
{{> footer}}


