{{> header}}
<!-- The Band Section -->
<div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='band'>
    <h2 class='w3-wide'>KnowItAll</h2>
    <br>
    <br>
    <button class="w3-button w3-red w3-round-large">Jugar Partida</button>
</div>

<!-- End Page Content -->
</div>
{{> footer}}
