{{> header}}
<!-- The Band Section -->
<link rel="stylesheet" href="../public/css/partida.css">
<div class='w3-container w3-center'
     style='display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 10px 0'
     id='band'>
    <h3 class='w3-wide'>JUGA TU PARTIDA</h3>

    <div class="partida-pregunta">
        <p>¿Cuál fue el último campeón del mundo?</p>
    </div>

    <form action="#" method="post" class="pregunta-form">

        <button class="partida-button" value="Argentina">
            Argentina
        </button>
        <button class="partida-button" value="Francia">
            Francia
        </button>
        <button class="partida-button" value="Inglaterra">
            Inglaterra
        </button>
        <button class="partida-button" value="Croacia">
            Croacia
        </button>


        <button type="submit" class="partida-siguiente-button">Siguiente</button>
    </form>

</div>

<!-- End Page Content -->
</div>
{{> footer}}