{{> header}}
<!-- The Band Section -->
<link rel="stylesheet" href="../public/css/partida.css">

<body >
<div class='w3-container w3-center'
     style='display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 10px 0'
     id='band'>
    <h3 class='w3-wide'>JUGA TU PARTIDA</h3>

    {{#preguntas}}
        <div class="{{categoria}}">
            <p>{{pregunta}}</p>
        </div>
    {{/preguntas}}
    <ul class="pregunta-respuestas">
        {{#respuestas}}

            <li class="pregunta-form">
                <a href="/partida/validar&id={{idRespuesta}}" class="opcion-respuesta">{{respuesta}}</a>
            </li>

        {{/respuestas}}
    </ul>


</div>

<div class="mensaje">
    {{#mensajeDeLaPartida}}
        <p> {{mensajeDePartida}}  </p>

    {{/mensajeDeLaPartida}}

  <p> Tu puntaje alcanzado es de: <span style="font-weight: bold">{{puntaje}}</span> </p>
</div>
</body>
<!-- End Page Content -->

