{{> header}}
<main>
<div class="header">
    <img class="avatar" src="{{fotoDePerfil}}" alt="">
    {{#miPerfil}}
        <h1 class="user-name"> {{username}}</h1>
        <p class="rol">rol: {{rol}}</p>
    </div>

        <div class="data-profile">
            <div style="display: flex; flex-direction: column; gap: 15px; width: 25%">
                <input class="inputInfo" readonly value="Nombre: {{nombreCompleto}}"/>
                <input class="inputInfo" readonly value="Fecha de nacimiento: {{fechaDeNacimiento}}"/>
                <input class="inputInfo" readonly value="Sexo: {{sexo}}"/>
                <input class="inputInfo" readonly value="Email: {{mail}}"/>
            </div>

                <div class="qrCont">
                    <img src="/public/qr.php?id={{idUsuario}}" />
                </div>
                <div class="mapa">
                    <iframe
                            width="500"
                            height="400"
                            style="border:0"
                            loading="lazy"
                            allowfullscreen
                            referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAxP6xiQEPFAMcksSmK-ZmzUdGZbo5rukI&q={{ubicacion}}
                    ">
                    </iframe>
                </div>


        </div>

    {{/miPerfil}}

    {{#otroPerfil}}

        <h1 class="user-name"> {{username}}</h1>
        <p class="rol">rol: {{rol}}</p>
        </div>

        <div class="data-profile">
            <div style="display: flex; flex-direction: column; gap: 30px; width: 20%">
                <input class="inputInfo" readonly value="Nombre: {{nombreCompleto}}"/>
                <input class="inputInfo" readonly value="Fecha de nacimiento: {{fechaDeNacimiento}}"/>
                <input class="inputInfo" readonly value="Sexo: {{sexo}}"/>
                <input class="inputInfo" readonly value="Email: {{mail}}"/>
            </div>
            <div class="qrCont">
                <img src="/public/qr.php?id={{idUsuario}}" />
            </div>
            <div class="mapa">
                <iframe
                        width="500"
                        height="500"
                        style="border:0; width: 500px; height: 500px"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAxP6xiQEPFAMcksSmK-ZmzUdGZbo5rukI&q={{ubicacion}}
                ">
                </iframe>
            </div>
        </div>

    {{/otroPerfil}}

</main>

<style>

    .inputInfo {
        border: 1px solid darkgray;
        border-radius: 6px;
        padding: 20px 5px 20px 5px;
        font-size: large
    }

    .header {
        text-align: center;
        padding: 12px;
        background: #F44335;

    }

    .mapa {
        margin-top: 50px;
        width: 500px;
        height: 500px;
    }

    .qrCont {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: white;
        border: 4px solid black;
    }

    .data-profile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .user-name {
        font-size: 18px;
        margin-top: 14px;
        color: #fff;
    }

    .rol {
        color: white;
        background: #000;
        border-radius: 55px;
        display: inline;
        padding: 5px 25px;

    }


</style>
{{> footer}}
