{{> header}}
<link rel="stylesheet" href="../public/css/ranking.css">
<body>
<br>
<h1 style="text-align: center">RANKING</h1>
<main class="ranking-main">
    <br>
    <div class="ranking-filtro">
        <label for="filtro" class="flechas">&#129045;&#129047;</label>
        <select class="ranking-select" id="filtro" name="filtro" onchange="filtrar()">
            <option selected disabled>Seleccione una opción</option>
            <option value="desc">Descendente</option>
            <option value="asc">Ascendente</option>
        </select>
    </div>
    <br>
    <table class="ranking-table" id="ranking-table">
        <thead>
        <tr>
            <th>Posición</th>
            <th>Nombre</th>
            <th>Puntaje</th>
        </tr>
        </thead>
        <tbody>
        {{#users}}
            <tr>
                <td>{{posicion}}</td>
                <td><a href="/perfil/perfil&idUsuario={{idUsuario}}">{{username}}</a></td>
                <td>{{puntaje}}</td>
            </tr>
        {{/users}}
        </tbody>
    </table>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function filtrar() {
        let filtro = $("#filtro").val();
        if (filtro) {
            $.ajax({
                url: 'http://localhost/ranking/filtrar',
                method: "GET",
                data: { filtro: filtro },
                success: function(response) {
                    console.log("Respuesta del AJAX:", response);

                    // Limpiar la tabla existente
                    $("#ranking-table tbody").empty();

                    // Recorrer el array de usuarios y agregar filas a la tabla
                    response.users.forEach(function(user) {
                        let fila = `<tr>
                                <td>${user.posicion}</td>
                                <td><a href="/perfil/perfil&idUsuario=${user.idUsuario}">${user.username}</a></td>
                                <td>${user.puntaje}</td>
                            </tr>`;
                        $("#ranking-table tbody").append(fila);
                    });
                },
                error: function() {
                    alert("Error");
                }
            });
        }
    }
</script>
</body>
</html>
