{{> header}}
<link rel="stylesheet" href="../public/css/ranking.css">
<body>
<br>
<h1 style="text-align: center">RANKING</h1>
<main class="ranking-main">
    <br>
    <div class="ranking-filtro">
        <label for="filtro" class="flechas">&#129045;&#129047;</label>
        <select class="ranking-select" id="filtro" name="filtro" onchange="filtrar()">
            <option selected disabled>Seleccione una opción</option>
            <option value="desc">Descendente</option>
            <option value="asc">Ascendente</option>
        </select>
    </div>
    <br>
    <table class="ranking-table" id="ranking-table">
        <thead>
        <tr>
            <th>Posición</th>
            <th>Nombre</th>
            <th>Puntaje</th>
            <th>Partidas Jugadas</th>
        </tr>
        </thead>
        <tbody>
        {{#users}}
            <tr>
                <td>{{posicion}}</td>
                <td><a href="/perfil/perfil&idUsuario={{idUsuario}}">{{username}}</a></td>
                <td>{{puntaje}}</td>
                <td>{{partidasJugadas}}</td>
            </tr>
        {{/users}}
        </tbody>
    </table>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../public/js/ajaxRanking.js"></script>
</body>
</html>
