{{> header}}
<body>
<br>
<h1 style="text-align: center">Graficas</h1>
<main>
    <div style="display: flex; flex-direction: row;">
        <div id="edadUsuariosChart" style="width: 900px; height: 500px;"></div>
        <div id="sexoUsuariosChart" style="width: 900px; height: 500px;"></div>
    </div>

</main>


</body>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(edadUsersChart);
    google.charts.setOnLoadCallback(sexoUsersChart);

    function edadUsersChart() {

        var data = google.visualization.arrayToDataTable([
            ['Usuario', 'Cantidad'],
            ['Menores',     {{cantUsuariosMenores}}],
            ['Mayores',     {{cantUsuariosMayores}}],
            ['Jubilados',   {{cantUsuariosJubilados}}],

        ]);

        var options = {
            title: 'Usuarios por Edad'
        };

        var chart = new google.visualization.PieChart(document.getElementById('edadUsuariosChart'));

        chart.draw(data, options);
    }

    function sexoUsersChart() {

        var data = google.visualization.arrayToDataTable([
            ['Usuario', 'Cantidad'],
            ['Femenino',     {{cantUsuariosSexoFemenino}}],
            ['Masculino',     {{cantUsuariosSexoMasculino}}],
            ['Otro',   {{cantUsuariosSexoOtro}}],

        ]);

        var options = {
            title: 'Usuarios por Sexo'
        };

        var chart = new google.visualization.PieChart(document.getElementById('sexoUsuariosChart'));

        chart.draw(data, options);
    }
</script>

</html>