{{> header}}
<link rel="stylesheet" href="../public/css/ranking.css">
<body>
<br>
<h1 style="text-align: center">Administracion de Preguntas</h1>
<main class="ranking-main">
    <br>
    <div class="ranking-filtro">
        <label for="filtro" class="flechas">&#129045;&#129047;</label>
        <select class="ranking-select" id="filtro" name="filtro" onchange="filtrar()">
            <option selected disabled>Filtrar por...</option>
            <option value="aprobadas">Aprobadas</option>
            <option value="sugeridas">Sugeridas</option>
            <option value="reportadas">Reportadas</option>

        </select>

    </div>
    <br>
    <table class="ranking-table" id="editor-table">
        <thead>
        <tr>
            <th>Pregunta</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {{#preguntas}}
            <tr>
                <td><a href="editor/preguntaDetalle&idPregunta={{idPregunta}}">{{pregunta}}</a></td>
                <td><p>{{estado}}</p></td>
                <td><a href="/editor/aprobar&id_pregunta={{idPregunta}}">
                    <button type="submit" class="btn-gral">Aprobar</button>
                    </a> <a href="/editor/desaprobar&id_pregunta={{idPregunta}}">
                    <button type="submit" class="btn-gral">desaprobar</button>
                    </a>
                    <a href="/editor/eliminar&id_pregunta={{idPregunta}}">
                    <button type="submit" class="btn-gral">Eliminar</button>
                    </a> </td>
            </tr>
        {{/preguntas}}
        </tbody>
    </table>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../public/js/ajaxEditor.js"></script>
</body>
</html>
