{{> header}}
<body>
<br>
<h1 style="text-align: center">Graficas</h1>
<main>
    <div style="display: flex; flex-direction: row;">
        <div>Cantidad de jugadores que tiene el juego: {{cantidadDeUsuariosQueTieneElJuego}}</div>
        <div>Cantidad de partidas jugadas: {{cantidadTotalDePartidasJugadas}}</div>
        <div>Cantidad de preguntas creadas: {{cantidadDePreguntasCreadas}}</div>
        <div>Cantidad de usuarios nuevos: {{usuariosNuevos}}</div>
        <div id="edadUsersChart" style="width: 900px; height: 500px;"></div>
        <div id="sexoUsersChart" style="width: 900px; height: 500px;"></div>
        <div id="paisUsersChart" style="width: 900px; height: 500px;"></div>
        <div id="porcentajePorUsuarioChart" style="width: 900px; height: 500px;"></div>
    </div>

    <div>
    <button id="download-button">Descargar Gráfico en PDF</button>
    </div>
</main>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js" ></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(edadUsersChart);
    google.charts.setOnLoadCallback(sexoUsersChart);
    google.charts.setOnLoadCallback(paisUsersChart);
    google.charts.setOnLoadCallback(porcentajeDeRespondidasPorUserChart);

    function edadUsersChart() {

        var data = google.visualization.arrayToDataTable([
            ['Usuario', 'Cantidad'],
            ['Menores',     {{cantUsuariosMenores}}],
            ['Mayores',     {{cantUsuariosMayores}}],
            ['Jubilados',   {{cantUsuariosJubilados}}],

        ]);

        var options = {
            title: 'Usuarios por Edad'
        };

        var chart = new google.visualization.PieChart(document.getElementById('edadUsersChart'));

        chart.draw(data, options);
    }

    function sexoUsersChart() {

        var data = google.visualization.arrayToDataTable([
            ['Usuario', 'Cantidad'],
            ['Femenino',     {{cantUsuariosSexoFemenino}}],
            ['Masculino',     {{cantUsuariosSexoMasculino}}],
            ['Otro',   {{cantUsuariosSexoOtro}}],

        ]);

        var options = {
            title: 'Usuarios por Sexo'
        };

        var chart = new google.visualization.PieChart(document.getElementById('sexoUsersChart'));

        chart.draw(data, options);
    }

    function paisUsersChart() {

        var data = google.visualization.arrayToDataTable([
            ['Usuario', 'Pais'],
            ['{{primeraProvincia}}', {{cantidadUsersPrimeraProvincia}}],
            ['{{segundaProvincia}}', {{cantidadUsersSegundaProvincia}}],
            ['{{terceraProvincia}}', {{cantidadUsersTerceraProvincia}}],
        ]);

        var options = {
            title: 'Usuarios por Pais'
        };

        var chart = new google.visualization.PieChart(document.getElementById('paisUsersChart'));

        chart.draw(data, options);
    }

    function porcentajeDeRespondidasPorUserChart() {

        var data = google.visualization.arrayToDataTable([
            ['Usuario', 'Porcentaje'],
            ['{{primerUser}}', {{porcentajePrimerUser}}],
            ['{{segundoUser}}', {{porcentajeSegundoUser}}],
            ['{{tercerUser}}', {{porcentajeTercerUser}}],
        ]);

        var options = {
            title: 'Porcentaje de preguntas respondidas por usuario'
        };

        var chart = new google.visualization.PieChart(document.getElementById('porcentajePorUsuarioChart'));

        chart.draw(data, options);
    }


        document.getElementById('download-button').addEventListener('click', function() {

            console.log('hola')
        // Crea una instancia de jsPDF
        var doc = new jsPDF();

        // Obtiene el elemento del gráfico de Google Charts
        var chartElement = document.getElementById('edadUsersChart');

        // Utiliza la librería html2canvas para capturar el gráfico y convertirlo en una imagen
        html2canvas(chartElement).then(function(canvas) {
        // Convierte el canvas en una imagen base64
        var imgData = canvas.toDataURL('image/png');

        // Agrega la imagen al documento PDF
        doc.addImage(imgData, 'PNG', 10, 10, 0, 0);

        // Descarga el documento PDF
        doc.save('grafico.pdf');
    });
    });
</script>


</html>